body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    align-content: center;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
}

main {
    display: flex;
    flex: 1;
    overflow: auto;
    align-content: center;
}

h2 {
    text-align: center;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10pt;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 20px;
    align-content: center;
}

.button {
    width: 320px;
    background: linear-gradient(to bottom, #1c84e0, #000046);
    color: white;
    padding: 10px;
    border-color: transparent;
    border-radius: 10px;
    font-size: 11pt;
    font-weight: 800;
}

.button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.button_menu{
    display: inline-block;
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    position: static;
}

.button_menu:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

#boton_usuario{
    display: inline-block;
    vertical-align: middle;
}