.encabezado {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}

.logo {
    max-width: 70px;
    margin: 0 125px;
}

.principal {
    background-image: url('principal.png');
    background-size: cover;
    padding: 20px;
    position: relative;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
    text-align: left;
}

input[type="search"],
input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    background-color: #f8f5f5;
    outline: none;
}

input[type="search"]:focus,
input[type="text"]:focus {
    background-color: #fff;
}

form button {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #1c84e0, #000046);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 322px;
    margin-top: 30px;
}

form button:hover {
    background: linear-gradient(to bottom, #000046, #1c84e0);
}